/* app global css */
.q-layout__section--marginal {
  background-color: #273c75 !important;
}

#publication-analyse-stepper .q-panel-parent {
  display: none;
}

.recommendation-card-width {
  width: 500px;
}
