.send-request-button {
  height: 21px;
}

.main-component {
  display: flex;
  width: 800px;
  margin: auto;
  flex-direction: column;
  justify-content: space-evenly;
}

input {
  height: 50px;
}

.use-file-to-analyze-container {
  display: flex;
}

.label-use-file{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Yake-form{
  display: flex;
  flex-direction: column;
}

.Yake-form input{
  margin-bottom: 25px;
}
.yake-errors{
  color: red;
}
.yake-errors-container,
.yake-response-container{
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
#nprogress .bar {
  background: #0076a5 !important;
  height: 4px !important;
}

#nprogress .peg {
  box-shadow: none !important;
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
}
.custom-player-alert {
  font-size: 14px;
  font-family: 'Exo 2', sans-serif;
  padding: 5px;
  margin: 0 5px 5px;
  color: #ffffff;
  border-left: 5px solid #ff0000;

  &.warn {
     background: #ffb648;
     border-left-color: #f48a06;
   }

  &.error {
     background: #E54D42;
     border-left-color: #B82E24;
   }

  &.success {
     background: #68CD86;
     border-left-color: #42A85F;
   }
}

.custom-player-alert .error{
  background: #E54D42;
  border-left-color: #B82E24;
}

.custom-player-alert .error {
  background: #ff0000;
}
